html, body {
	background: #E7EFF1;
	color: #5B6C70;
	font-family: 'Nunito', sans-serif;
	font-size: 1em;
	margin-bottom: 20px;
	margin-top: 20px;
}

/*** SPLASH SCREEN ***/

.splash-screen {
	color: #5B6C70;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}

.title {
	padding-bottom: 30px;
	width: 50%;
}

.logo {
	padding-bottom: 30px;
	width: 20%;
}

.description {
	font-size: larger;
	font-weight: 700;
	padding-bottom: 30px;
}

.splash-btn {
	padding-bottom: 10px;
	padding-top: 10px;
}

.splash-btn:hover {
	cursor: pointer;
}

.signin {
	background: #EED95B;
}

.signup {
	background: #EEC056;
}

.btn-header {
	font-size: larger;
	font-weight: 700;
	padding-bottom: 5px;
}

.btn-footer {
	font-weight: 300;
}

@media only screen and (max-device-width: 480px) {
	.title {
		padding-bottom: 30px;
		width: 80%;
	}

	.logo {
		padding-bottom: 30px;
		width: 40%;
	}
}

/*** SIGN IN SCREEN ***/

.signin-screen {
	height: 100%;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

.input-form {
	width: 100%;
}

.input-form form {
	margin: 0 auto;
	width: 40%;
}

md-input-container {
	text-align: left;
}

md-input-container .md-input {
	color: #709C90;
}

md-input-container:not(.md-input-invalid).md-input-focused label {
	color: #EEC056;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
	border-color: #EEC056;
}

.button-footer {
	color: #7D7E7F;
	width: 40%;
}

.button-footer .md-button {
	border-radius: 50px;
	min-width: 120px;
	text-transform: lowercase;
}

.button-footer .md-button.back {
	border: 2px solid #709C90;
	color: #709C90;
}

.button-footer .md-button.submit {
	background: #EED95B;
	font-weight: 700;
}

@media only screen and (max-device-width: 480px) {
	.input-form form {
		margin: 0 auto;
		width: 70%;
	}
}

/*** SIGN UP SCREEN ***/

.signup-screen {
	height: 100%;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

.upload {
	background: #709C90;
	border-radius: 50%;
	height: 120px;
	width: 120px;
}

.upload:hover {
	cursor: pointer;
}

.camera {
	padding-top: 35px;
	width: 50px;
}

@media only screen and (max-device-width: 480px) {
	.signup-screen {
		padding-top: 20px;
		overflow: auto;
	}

	.title,
	.description {
		padding-bottom: 20px;
	}

	.upload {
		height: 80px;
		margin-right: 10px;
		width: 80px;
	}

	.camera {
		padding-top: 30px;
		width: 25px;
	}
}

/*** WELCOME SCREEN ***/

.welcome-screen {
	color: #7FA69C;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

.description .name {
	font-weight: 700;
}

.profile {
	margin-left: 65px;
}

.photo {
	border: 5px solid #7FA69C;
	border-radius: 50%;
	display: inline-block;
	height: 200px;
	overflow: hidden;
	width: 200px;
}

.photo img {
	height: 200px;
}

.hand {
	display: inline-block;
	margin-left: -10px;
	vertical-align: top;
}

.hand img {
	width: 100px;
}

.meettens > div {
	min-height: 100px;
}

.meettens > div:nth-child(2) {
	border-left: 2px solid #BCD2D6;
}

.join-meetten {
	font-size: larger;
	font-weight: 700;
	padding-top: 20px;
}

.meetten-group {
	padding-bottom: 30px;
}

.meettens-left {
	display: inline-block;
	margin-left: -25px;
	padding-right: 10px;
	text-align: right;
	vertical-align: text-bottom;
}

.meettens-left.even {
	margin-left: -10px;
	margin-top: 50px;
	vertical-align: top;
}

.meettens-left .meetten-info {
	display: inline-block;
	padding-right: 10px;
	text-align: right;
	vertical-align: middle;
}

.meettens-right {
	display: inline-block;
	margin-top: -5px;
	padding-left: 10px;
	text-align: left;
}

.meettens-right.even {
	padding-bottom: 50px;
}

.meettens-right .meetten-info {
	display: inline-block;
	padding-left: 10px;
	text-align: left;
	vertical-align: middle;
}

.meetten-info {
	min-width: 100px;
}

.meettens-left img:hover,
.meettens-right img:hover {
	cursor: pointer;
}

.meetten-photo {
	border-radius: 50%;
	display: inline-block;
	height: 80px;
	overflow: hidden;
	vertical-align: middle;
	width: 80px;
}

.meetten-photo img {
	height: 80px;
}

.meetten-name {
	font-weight: 700;
}

.meetten-time {
	font-size: smaller;
	font-weight: 300;
}

.button-footer.bye {
	display: inline-block;
	padding-bottom: 30px;
	padding-top: 30px;
}

@media only screen and (max-device-width: 480px) {
	body {
		overflow: auto;
	}

	.welcome-screen {
		padding-top: 20px;
	}

	.profile {
		margin-left: 50px;
	}

	.photo {
		height: 130px;
		width: 130px;
	}

	.photo img {
		height: 130px;
	}

	.hand {
		margin-left: -7px;
	}

	.hand img {
		width: 70px;
	}

	.meetten-name {
		font-size: smaller;
	}

	.meetten-time {
		font-size: x-small;
	}

	.meetten-photo {
		height: 50px;
		width: 50px;
	}

	.meetten-photo img {
		height: 50px;
	}
}

/*** PROFILE SCREEN ***/

.profile-screen {
	color: #7FA69C;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

.profile-screen .description {
	color: #69696A;
}

.profile-screen .photo {
	height: 150px;
	width: 150px;
}

.profile-screen .photo img {
	height: 150px;
}

.photo-group {
	display: inline-block;
}

.photo-group.right {
	margin-left: -20px;
}

.hand img {
	width: 70px;
}

.right .hand {
	margin-left: 0;
	margin-right: -7px;
	margin-top: -5px;
	-webkit-transform: scaleX(-1);
	   -moz-transform: scaleX(-1);
	     -o-transform: scaleX(-1);
	        transform: scaleX(-1);
}

.profile-title {
	color: #C9D0D1;
	font-size: larger;
}

.profile-text {
	color: #7D7E7F;
	padding-top: 5px;
	padding-bottom: 20px;
}

.event {
	color: #69696A;
	font-size: x-large;
	font-weight: 700;
}

.event-details {
	border-bottom: 2px solid #BCD2D6;
	color: #7D7E7F;
	display: inline-block;
	padding-bottom: 40px;
}

.profile-screen .username {
	color: #69696A;
	font-size: x-large;
	font-weight: 700;
	padding-top: 30px;
	padding-bottom: 20px;
}

.profile-screen .button-footer {
	display: inline;
	width: 40%;
}

.profile-screen .button-footer > div {
	display: inline-block;
}

@media only screen and (max-device-width: 480px) {
	.profile-screen .photo {
		height: 100px;
		width: 100px;
	}

	.profile-screen .photo img {
		height: 100px;
	}

	.profile-screen .hand img {
		width: 50px;
	}

	.event-details {
		padding-bottom: 30px;
	}

	.profile-screen .username {
		padding-top: 20px;
	}
}
